/* RESET */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
}

/* COMMON */
body
{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container
{
    width: 70%;
    margin: auto;
}

.flex-container
{
    display: flex;
}

ul
{
    list-style-type: none;
}

.bg-lightgray
{
    background-color: lightgray;
}

li a
{
    text-decoration: none;
    color: white;
}

.header-btn, .main-btn
{
    height: 50px;
    justify-content: center;
    align-items: center;
}

.header-btn>.white
{
    margin-right: 10px;
}

.btn-large, .btn-small
{
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    cursor: pointer;
}

.btn-small
{
    padding: 5px;
}

.btn-large
{
    padding: 8px;
}

.blue
{
    background-color: #47adf1;
    border-color: #47adf1;
    color: white;
}

.white
{
    background-color: white;
    border-color: white;
    color: black;
}

.black
{
    background-color: black;
    border-color: black;
    color: white;
}

/* HEADER */
/* header top */
.header-top
{
    padding: 20px 0;
    background-color: #255ee9;
}

.nav-col
{
    padding: 5px;
}

.logo
{
    width: 20%;
}

nav
{
    width: 60%;
}


.login
{
    width: 20%;
    text-align: right;
}

/* menu */
.menu
{
    justify-content: center;
}

.menu li
{
    padding: 0 15px;
}

/* header bottom */
.header-bottom
{
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

/* jumbotron */
.jumbotron
{
    height: 450px;
    justify-content: center;
    align-items: center;
}

.jumbotron-text
{
    text-align: center;
    width: 50%;
    color: white;
}

/* MAIN */
section
{
    padding: 30px 0;
}

.large-col
{
    width: 60%;
}

.narrow-col
{
    width: 40%;
    padding-top: 15px;
}

.caption.centered
{
    text-align: center;
}

.caption>h2
{
    font-size: 30px;
    padding-bottom: 15px;
}

.adventure>h3
{
    text-align: center;
    font-size: 25px;
}

/* FOOTER */
/* footer top */
footer
{
    background-color: black;
}
.footer-top
{
    padding: 5px 0 20px;
}
.footer-main-col
{
    height: 300px;
}

.main-info-area
{
    width: 30%;
    padding: 20px 35px 0 0;
}

.main-info-area>h2
{
    color: #7289da;
}

.language
{
    font-size: 11px;
    padding: 10px 0;
}

.social
{
    color: white;
}

.language>img
{
    width: 15px;
}

.chevron-down
{
    font-size: 11px;
}

.footer-menus-col
{
    width: 70%;
} 

.footer-menu-col
{
    font-size: 11px;
    padding: 20px 35px 0 0;
}

.footer-menu-col ul li 
{
    padding-bottom: 15px;
}

.ul-name
{
    color: #7289da;
    font-weight: bold;
}

/* footer bottom */
.footer-bottom
{
    color: white;
    padding-top: 20px;
}

.footer-btn
{
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.sign-in
{
    font-size: 11px;
}